In [1]:
import pandas as pd
import numpy as np
import nltk
import re
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

In [2]:

df=pd.read_csv("similarity_preprocess8_cleaned.csv")

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.0,59.0,161.0,546.0,1689.0,1748.0,2195.0,2324.0,4346.0,5022.0,...,9046.0,9216.0,9638.0,9739.0,9997.0,11942.0,12607.0,46656.0,48604.0,54975.0
1,1.0,9.0,55.0,65.0,837.0,2462.0,3735.0,3757.0,3831.0,6945.0,...,8365.0,26606.0,28797.0,48963.0,51780.0,64261.0,65492.0,78091.0,78974.0,79396.0
2,2.0,823.0,1784.0,3924.0,4475.0,5200.0,5886.0,6033.0,6205.0,6441.0,...,7015.0,7755.0,8030.0,8168.0,8853.0,9229.0,9442.0,9496.0,10207.0,12484.0
3,3.0,288.0,695.0,1136.0,1529.0,1558.0,1878.0,2046.0,2245.0,4162.0,...,4412.0,4734.0,4840.0,4992.0,6826.0,7548.0,10217.0,12393.0,14869.0,82516.0
4,4.0,75.0,228.0,931.0,1784.0,3653.0,3924.0,4475.0,5200.0,5886.0,...,6205.0,6441.0,6700.0,7015.0,7755.0,8030.0,8168.0,8853.0,10207.0,12484.0

In [4]:

df.shape

(82556, 21)

In [5]:
df1=pd.read_csv("movie-name_data.csv")

In [6]:
df2=pd.read_csv("movie-poster_latest.csv")

In [7]:
stop_words = set(stopwords.words('english'))

# Function to clean movie names
def clean_movie_name(name):
    # Remove special characters and convert to lowercase
    name = re.sub(r'[^a-zA-Z0-9\s]', '', name).lower()
    # Split the name into words and remove stop words
    name = ' '.join(word for word in name.split() if word not in stop_words)
    # Remove spaces to make it a continuous string
    return name.replace(" ", "")

# Apply the cleaning function to the movie_name column
df1['movie_name'] = df1['movie_name'].apply(clean_movie_name)

In [8]:
#Amazing Spider Man
#Avatar
#Exorcist
#Sapphire
#Full Metal Jacket
#Hidden Jacket

In [9]:
movie_name="Sapphire"
movie_name=clean_movie_name(movie_name)
print("The movie name entered :",movie_name)
row_index=df1.index[df1['movie_name']==movie_name][0]
list1= df.iloc[row_index].tolist()
print("Top 20 recommended Movies : ")
for i in list1 :
    if i!=row_index:
      print(df2.loc[i,'movie_name'])

The movie name entered : sapphire
Top 20 recommended Movies :
Jalsa
The Silence of the Marsh
Morbo
Solo
Ism
KL Gangster 2
Quarantine Tales
Under Crystal Lake
Everything Now
Khiana mashroaa
Whistle
Newtonin Moondram Vidhi
Teen Kanya
Framed
Alborada carmesí
The Devil's 6 Commandments
Massafat Mile Bihidayi
Senza movente
Devang
Memsahab
Kart Mimori