In [13]:
import pandas as pd
import numpy as np
import nltk
import re
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\proni\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:

df=pd.read_csv("similarity_preprocess8_cleaned.csv")

In [15]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.0,59.0,161.0,546.0,1689.0,1748.0,2195.0,2324.0,4346.0,5022.0,...,9046.0,9216.0,9638.0,9739.0,9997.0,11942.0,12607.0,46656.0,48604.0,54975.0
1,1.0,9.0,55.0,65.0,837.0,2462.0,3735.0,3757.0,3831.0,6945.0,...,8365.0,26606.0,28797.0,48963.0,51780.0,64261.0,65492.0,78091.0,78974.0,79396.0
2,2.0,823.0,1784.0,3924.0,4475.0,5200.0,5886.0,6033.0,6205.0,6441.0,...,7015.0,7755.0,8030.0,8168.0,8853.0,9229.0,9442.0,9496.0,10207.0,12484.0
3,3.0,288.0,695.0,1136.0,1529.0,1558.0,1878.0,2046.0,2245.0,4162.0,...,4412.0,4734.0,4840.0,4992.0,6826.0,7548.0,10217.0,12393.0,14869.0,82516.0
4,4.0,75.0,228.0,931.0,1784.0,3653.0,3924.0,4475.0,5200.0,5886.0,...,6205.0,6441.0,6700.0,7015.0,7755.0,8030.0,8168.0,8853.0,10207.0,12484.0

In [16]:

df.shape

(82556, 21)

In [17]:
df1=pd.read_csv("movie-name_data.csv")

In [22]:
df2=pd.read_csv("movie-poster_latest.csv")

In [23]:
stop_words = set(stopwords.words('english'))

# Function to clean movie names
def clean_movie_name(name):
    # Remove special characters and convert to lowercase
    name = re.sub(r'[^a-zA-Z0-9\s]', '', name).lower()
    # Split the name into words and remove stop words
    name = ' '.join(word for word in name.split() if word not in stop_words)
    # Remove spaces to make it a continuous string
    return name.replace(" ", "")

# Apply the cleaning function to the movie_name column
df1['movie_name'] = df1['movie_name'].apply(clean_movie_name)

In [24]:
movie_name="Spider-Man no way home"
movie_name=clean_movie_name(movie_name)
print("The movie name entered :",movie_name)
row_index=df1.index[df1['movie_name']==movie_name][0]
print(row_index)
list1= df.iloc[row_index].tolist()
print(list1)
print("Top 20 recommended Movies : ")
for i in list1 :
    if i!=row_index:
      print(df2.loc[i,'movie_name'])
      print(df2.loc[i,'Poster'])

The movie name entered : spidermanwayhome
22
[22.0, 84.0, 292.0, 299.0, 610.0, 948.0, 2053.0, 4795.0, 6854.0, 7722.0, 8953.0, 9046.0, 13508.0, 48133.0, 48708.0, 51333.0, 51395.0, 54882.0, 55965.0, 56879.0, 65631.0]
Top 20 recommended Movies :
Spider-Man: Into the Spider-Verse
https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@.jpg
Spider-Man: Far from Home
https://m.media-amazon.com/images/M/MV5BODA5MTY0OWUtNjdlOC00NDI5LWE3NjYtNDM4MDI2MzE4OWUxXkEyXkFqcGdeQXVyOTAzODkzMjI@.jpg
The Amazing Spider-Man
https://m.media-amazon.com/images/M/MV5BMjMyOTM4MDMxNV5BMl5BanBnXkFtZTcwNjIyNzExOA@@.jpg
Pan
https://m.media-amazon.com/images/M/MV5BMzk2MDg5MDczMl5BMl5BanBnXkFtZTgwNTE2NjYyNjE@.jpg
Dead Man
https://m.media-amazon.com/images/M/MV5BNjZiMDUyYmEtNzAwYy00YjNiLWEyODItNTJmMjZjOWQ3MThlXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg
Neo Tokyo
https://m.media-amazon.com/images/M/MV5BMmNlM2Y5NjQtNDQwYi00ZDdkLWJjZjEtOTY1ZWU2NGZlMTJmXkEyXkFqcGdeQXVyMTA0MTM5NjI2.jpg
The Amazing Wiplala
https://m.media-amazon.com/images/M/MV5BMjI4Nzk0MDIxM15BMl5BanBnXkFtZTgwNDg2NDYzNjE@.jpg
Baji
https://m.media-amazon.com/images/M/MV5BNzBkZWQ0ZWEtZTRkYS00NDY2LWI2NWEtYTZlNDg1NjY4YzVlXkEyXkFqcGdeQXVyMTc4NDMwNzky.jpg
Örümcek Adam
https://m.media-amazon.com/images/M/MV5BMzI0NmVkMjEtYmY4MS00ZDMxLTlkZmEtMzU4MDQxYTMzMjU2XkEyXkFqcGdeQXVyMzQ0MzA0NTM@.jpg
The Beast Pageant
https://m.media-amazon.com/images/M/MV5BNTIyNTc4OTc5NF5BMl5BanBnXkFtZTcwMzczODExNA@@.jpg
Bernardo Carpio
https://m.media-amazon.com/images/M/MV5BZDFkYTczN2ItZmI1OC00YjA2LTg4MTQtMDBmZTI0ZTEwYjYwXkEyXkFqcGdeQXVyNTY2MDM4NjM@.jpg
Meikyû monogatari
https://m.media-amazon.com/images/M/MV5BMmNlM2Y5NjQtNDQwYi00ZDdkLWJjZjEtOTY1ZWU2NGZlMTJmXkEyXkFqcGdeQXVyMTA0MTM5NjI2.jpg
Super Singh
https://m.media-amazon.com/images/M/MV5BM2EwMjEyYjgtYmU4OC00NmM4LWEyYzktODUxZTFlOWRjNDQ1XkEyXkFqcGdeQXVyNDY2ODEyMw@@.jpg
All for the Winner
nan
Spider-Man: Rise of a Legacy
https://m.media-amazon.com/images/M/MV5BYjYyZjQ4ZWYtNDcxYy00ZDIwLWI0YWEtYTQwMWE4M2JmZTYxXkEyXkFqcGdeQXVyNDUxMzc0MTM@.jpg
The Lion of Punjab
https://m.media-amazon.com/images/M/MV5BZGMzOGMzY2QtYmI2ZS00NzA2LWI1NTAtMTA0MGY5OWY1MmZhXkEyXkFqcGdeQXVyMjMzMzc0MjM@.jpg
Spider-Man: Vengeance
https://m.media-amazon.com/images/M/MV5BMTRkNmY2NTgtNTA5MC00MzZhLWFhZTItZGM4ODYyMzMxN2Y5XkEyXkFqcGdeQXVyNDUxMzc0MTM@.jpg
Lastik Man
https://m.media-amazon.com/images/M/MV5BZTM3Zjg0ZjQtMTVkMC00OWUxLWFjZDktZmFiY2E3ZjNjNmZjXkEyXkFqcGdeQXVyNDUxNjc5NjY@.jpg
Rewind
https://m.media-amazon.com/images/M/MV5BOTVlNWEyNmMtYmI0ZC00NWJlLTgyZGItMmE5MWYxNTAyZDRlXkEyXkFqcGdeQXVyNTI5NjIyMw@@.jpg
Le fantôme du Moulin-Rouge
https://m.media-amazon.com/images/M/MV5BYWUwMDYyOGYtZTRhZC00YmE4LWExZTAtYzZmNjI3N2M1NjM2XkEyXkFqcGdeQXVyMzg1ODEwNQ@@.jpg